#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.item-list {
  list-style: none;
  display:flex;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  font-size: 15px;
}

.item-list.checked {
  text-decoration: line-through;
  list-style: none;
  background-color: lightgray !important;
  color: rgb(33, 57, 57) !important;
}

.edit-mode{
  display:flex;
  justify-content: space-around;
  width:100%;
  padding: 10px;
  border: 1px solid #dfdfdf;
  outline: none;
  border-radius: 10px;


}



.button-container{
  margin-left: auto;
}
.list-item input[type="checkbox"]{
  margin-right: 10px;
}
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

footer{
  display: flex;
  justify-content: space-around;
}

form{
  display:flex;
  flex-direction:column;
  justify-content:center;
}